:host {
  width: 100vw;
  height: 100vh;
  display: block;
  background: transparent url('/assets/img/background.png') center bottom no-repeat;
  background-size: cover;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('/assets/img/background@2x.png');
  }
  &.handset {
    // background-image: none;
  }
}
