<div class="container">
  <h1><span class="visually-hidden">34 AS</span></h1>
  <p>
    34 AS is the Metrobus line that people living in Istanbul use daily to start and finish their office days between two sides of the city.
    <br>
    It's hard to fit in and to keep yourself in morph.
    <br>
    <br>
    GOOD LUCK!
  </p>
  <div class="controls">
    <ul class="visually-hidden">
      <li><strong>Q</strong> Rotate Lef-t</li>
      <li><strong>W</strong> Rotate Right</li>
      <li><strong>&larr;</strong> Left</li>
      <li><strong>&rarr;</strong> Right</li>
      <li><strong>&darr;</strong> Collapse</li>
    </ul>
  </div>
  <button mat-button (click)="startGame.emit($event)" aria-label="Start">
    <!-- Start -->
  </button>
</div>
