:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url('/assets/img/bg-bus.png');
    background-size: cover;

    .color-band {
      color: #FFFFFF;
      background: #AA69D1;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
      width: 100%;
      text-align: center;
    }

    h1, h2 {
      font-weight: 400;
      text-transform: uppercase;
    }

    h1 {
      font-size: 46px;
      letter-spacing: 1.93px;
    }

    h2 {
      font-size: 32px;
      letter-spacing: 1.34px;
    }

    p {
      flex: 0 1 auto;
      font-weight: 400;
      font-size: 15px;
      color: #000000;
      letter-spacing: 1.82px;
      padding: 35px;
      margin: 0;
      strong {
        font-weight: 700;
        margin: 25px auto;
        text-align: center;
        display: block;
        text-transform: uppercase;
      }
    }

    .controls {
      flex: 2 1 auto;
      width: 100%;
      background: transparent url('/assets/img/controls.png') center center no-repeat;
      background-size: 242px 139px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/assets/img/bg-bus@2x.png');

      .controls {
        background-image: url('/assets/img/controls@2x.png');
      }
    }
  }
}
