html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

pre {
  unicode-bidi: embed;
  font-family: monospace;
  font-size: 11px;
  border: solid 1px orange;
  padding: 16px;
  margin:16px;
  flex: 2 1 auto;
}
